
<ul>
  <% @links.each do |link| %>
    <li id="link-<%= link.id %>">
      <a href="<%= link.url %>">
        <%= link.title %>
      </a>
    </li>
  <% end %>
</ul>

<a href='/add-a-new-link'>Add a new link</a>
<%= styled_flash %>
